pytorch-lightning
ipykernel
matplotlib
pandas
torchvision
nilearn
torcheval
plotly
open_clip_torch
transformers
diffusers==0.26.3
wandb
peft
lpips


ipykernel
ipykernel
visualpriors
scikit-image
pycocotools
timm==0.6.7